In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('SparkSQL Practice').getOrCreate()
spark

In [3]:
data_path ='/content/'

In [6]:
file_path = data_path + 'utilization.json'
s_df = spark.read.format("json").option("header","true").load(file_path)

DataFrame[cpu_utilization: double, event_datetime: string, free_memory: double, server_id: bigint, session_count: bigint]

In [7]:
s_df.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [8]:
s_df.count()

356020

In [9]:
s_df.createOrReplaceTempView("utilization")

In [12]:
s_sql = spark.sql("SELECT * FROM utilization LIMIT 10")
s_sql.count()

10

In [13]:
s_sql = spark.sql("SELECT event_datetime AS e_dt FROM utilization LIMIT 10")
s_sql.show()

+-------------------+
|               e_dt|
+-------------------+
|03/05/2019 08:06:14|
|03/05/2019 08:11:14|
|03/05/2019 08:16:14|
|03/05/2019 08:21:14|
|03/05/2019 08:26:14|
|03/05/2019 08:31:14|
|03/05/2019 08:36:14|
|03/05/2019 08:41:14|
|03/05/2019 08:46:14|
|03/05/2019 08:51:14|
+-------------------+